<div class="col-12">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Plat</th>
                    <th scope="col">Restaurant</th>
                    <th scope="col" class="text-right">Prix</th>
                    <th scope="col" class="text-right">Quantité</th>
                    <th scope="col" class="text-right">Montant (Ar)</th>
                  </tr>
                </thead>

                <ng-container *ngIf="!isLoading; else loading">
                  <tbody>
                    <tr *ngFor = "let food of orders.foods">
                      <th class="img-container"><img [src]="food.imageSrc"></th>
                      <td>{{food.name}}</td>
                      <td>{{food.restaurant.name}}</td>
                      <td class="text-right">{{food.price}}</td>
                      <td class="text-right">{{food.quantity}}</td>
                      <td class="text-right">{{food.amount}}</td>
                    </tr>
                    <tr class="montant">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">Montant Total: </td>
                        <td class="text-right">Ar {{orders.amountTotal}}</td>
                    </tr>
                  </tbody>
                </ng-container>

                <ng-template #loading>
                  <tbody>
                    <tr *ngFor = "let i of [].constructor(3)">
                      <th class="img-container">
                        <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="40">
                          <svg:g ngx-rect width="30" height="30" y="0" x="0" rx="0" ry="0"></svg:g>
                        </ngx-content-loading>
                      </th>
                      <td>
                        <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="10">
                          <svg:g ngx-rect width="80%" height="4px" y="2" x="0" rx="1" ry="1"></svg:g>
                        </ngx-content-loading>
                      </td>
                      <td>
                        <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="10">
                          <svg:g ngx-rect width="80%" height="3px" y="2" x="0" rx="1" ry="1"></svg:g>
                        </ngx-content-loading>
                      </td>
                      <td>
                        <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="10">
                          <svg:g ngx-rect width="80%" height="4px" y="2" x="0" rx="1" ry="1"></svg:g>
                        </ngx-content-loading>
                      </td>
                      <td>
                        <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="10">
                          <svg:g ngx-rect width="80%" height="3px" y="2" x="0" rx="1" ry="1"></svg:g>
                        </ngx-content-loading>
                      </td>
                      <td>
                        <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="10">
                          <svg:g ngx-rect width="80%" height="4px" y="2" x="0" rx="1" ry="1"></svg:g>
                        </ngx-content-loading>
                      </td>
                    </tr>
                    <tr class="montant">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="10">
                            <svg:g ngx-rect width="80%" height="4px" y="2" x="0" rx="1" ry="1"></svg:g>
                          </ngx-content-loading>
                        </td>
                        <td>
                          <ngx-content-loading [speed]="'1500ms'" [width]="40" [height]="10">
                            <svg:g ngx-rect width="80%" height="4px" y="2" x="0" rx="1" ry="1"></svg:g>
                          </ngx-content-loading>
                        </td>
                    </tr>
                  </tbody>
                </ng-template>

              </table>
            
                <div class="buttons">
                    <button (click) = "deleteAllOrders()" class="btn btn-danger">Tout effacer</button>
                    <button *ngIf = "!isOrderSending" (click) = "sendOrders()" class="btn btn-primary">Envoyer la commande</button>
                    <button *ngIf = "isOrderSending" class="btn btn-lg btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Envoi de la commande
                    </button>
                </div>
        </div>
    </div>
</div>