/* You can add global styles to this file, and also import other style files */

// Drag and Drop list
.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    cursor: grab;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

// General Card Style
.card {
  .card-title {
      font-size: 25px;
      margin-bottom: 30px;

      .spinner-border {
        font-size: 10px;
        width: 15px;
        height: 15px;
      }
  }

  .order-box {
      display: flex;
      text-align: center;
      gap: 20px;
      
      padding: 10px 10px;
      .foodname {
          font-size: 16px;
      }
      .note {
          font-size: 12px;
      }
      .elem_1 { flex: 0.5 }
      .elem_2 { flex: 2; overflow: hidden }
      .elem_3 { flex: 1 }
      .elem_4 { flex: 2; overflow: hidden; }

      img {
          border-radius: 2px;
      }

  }
}

// Custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


// icons
@import 'material-icons/iconfont/filled.scss';

.material-icons {
  margin-right: 10px;
}

// Badge
.badge-primary {
  background-color: #0275d8;
}

.badge-secondary {
  background-color: #292b2c;
}

.badge-success {
  background-color: #5cb85c;
}

// Button
.btn-danger {
  background: #d9534f;
}

.btn-warning {
  background: #f0ad4e;
}

// Table
table {
  thead {
      background-color: #24354b;
      color: white;
  }
  .text-right {
      text-align: right !important;
  }

  .img-container {
      // width: 80px;
      img {
          width: 30px;
          height: 30px;
      }
  }

  td{
    button {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 30px;
      height: 30px;
      .material-icons {
        font-size: 17px;
        margin: 0px !important;
      }
    }

    &.btn-container {
      display: flex;
      gap: 5px;
    }
  }
}