<div *ngIf = "authService.isConnected" class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main">
    <app-header></app-header>
    
    <main class="content">
      <div class="container-fluid p-0">

        <router-outlet></router-outlet>
        
        <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Empty card</h5>
              </div>
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <app-footer></app-footer>
  </div>
</div>

<router-outlet *ngIf = "!authService.isConnected"></router-outlet>
