<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                Restaurants
                <div *ngIf="isRestaurantsLoading" class="spinner-border text-secondary" role="status">
                    <span class="sr-only"></span>
                </div>
            </h2>
            <div style="float: right; margin-bottom: 10px">
                <a class="btn btn-primary" routerLink="/new-restaurant">+ Nouveau Restaurant</a>
            </div>
            <table *ngIf="!isRestaurantsLoading" class="table">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Addresse</th>
                    <th class="text-center">Email</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                    <tr *ngFor = "let restaurant of restaurants">
                        <td class="text-center">{{restaurant.name}}</td>
                        <td class="text-center">{{restaurant.address}}</td>
                        <td class="text-center">{{restaurant.email}}</td>
                        <td class="text-center btn-container">
                            <button routerLink="/modify-restaurant/{{restaurant._id}}" class="btn btn-warning btn-sm"><span class="material-icons">edit</span></button>
                            <button (click)="deleteRestaurant(restaurant._id)" class="btn btn-danger btn-sm"><span class="material-icons">delete</span></button>
                        </td>
                    </tr>
                </tbody>

              </table>
        </div>
    </div>
</div>