<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Inscription</h1>
                        <p class="lead">
                            Inscrivez-vous pour pouvoir commander des plats à travers toute la ville sur notre site E-Kaly.com
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <form>
                                    <div class="mb-3">
                                        <label class="form-label">Nom</label>
                                        <input class="form-control form-control-lg" type="text" [(ngModel)] = "user.name" name="name" placeholder="Entrer votre nom" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Prénom</label>
                                        <input class="form-control form-control-lg" type="text" [(ngModel)] = "user.firstname" name="firstname" placeholder="Entrer votre prénom" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Adresse</label>
                                        <input class="form-control form-control-lg" type="text" [(ngModel)] = "user.address" name="address" placeholder="Entrer votre addresse" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input class="form-control form-control-lg" type="email" [(ngModel)] = "user.email" name="email" placeholder="Entrer votre email" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Mot de passe</label>
                                        <input class="form-control form-control-lg" type="password" [(ngModel)] = "user.password" name="password" placeholder="Entrer un mot de passe" />
                                    </div>
                                    <div class="text-center mt-3">
                                        <!-- <a href="index.html" class="btn btn-lg btn-primary">S'inscrire</a> -->
                                        <button type="submit" (click) = "signup()" class="btn btn-lg btn-primary">S'inscrire</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>